### Defaults
**These are static variables with lower priority**

{% for defaults_file in role.defaults %}
#### File: defaults/{{ defaults_file.file }}
{{ tables.render_variable_table(defaults_file.data, 'defaults/' ~ defaults_file.file, role) }}
{% endfor %}

