{% macro render_repo_link(repo, role_name, file_path, line, repo_type, branch, in_collection) -%}
  {% if repo and file_path and line is not none %}
    {% if in_collection %}
      {% set full_path = 'roles/' ~ role_name ~ '/' ~ file_path %}
    {% else %}
      {% set full_path = file_path %}
    {% endif %}
    {% set encoded_path = full_path | replace(' ', '%20') %}
    {% if repo_type == 'github' %}
      {{ repo }}/blob/{{ branch }}/{{ encoded_path }}#L{{ line }}
    {% elif repo_type == 'gitlab' %}
      {{ repo }}/-/blob/{{ branch }}/{{ encoded_path }}#L{{ line }}
    {% elif repo_type == 'gitea' %}
      {{ repo }}/src/branch/{{ branch }}/{{ encoded_path }}#L{{ line }}
    {% else %}
      {{ repo }}/{{ encoded_path }}#L{{ line }}
    {% endif %}
  {% else %}
    {{ file_path }}#L{{ line }}
  {% endif %}
{%- endmacro %}
