{# Main collection template - modularized version #}
{% include 'collection/sections/overview.jinja2' %}

{% include 'collection/sections/roles_list.jinja2' %}

{% include 'collection/sections/dependencies.jinja2' %}

{% include 'collection/sections/plugin_list.jinja2' %}

{% include 'collection/sections/galaxy_info.jinja2' %}
